<div class="container" style="padding-top:40px;">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card mx-4">
                <div class="card-head p-4">
                    <div class="col-sm-12">
                        Datos Factura
                    </div>
                </div>
                <div class="card-body p-4">
                    <form [formGroup]="agregarFactura" (ngSubmit)="postForm(agregarFactura.value)">
                        <div class="col-sm-12">
                            <div class="card-body">
                                <!-- <div class="row"> -->
                                <div class="form-group ">

                                    <label class="col-sm-2 control-label" for="codigoFactura">Código Factura</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Enter Código Factura"
                                            formControlName="codigoFactura">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="cliente">Cliente</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Enter Cliente"
                                            formControlName="cliente">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="ciudad">Ciudad</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Enter Ciudad"
                                            formControlName="ciudad">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="nit">NIT</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Enter NIT"
                                            formControlName="nit">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="totalFactura">Total Factura</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Enter Total Factura"
                                            formControlName="totalFactura">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-primary px-10" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>