<button type="button" class="btn btn-primary float-right m-2" (click)="agregarFactura()">Agregar Factura
</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Código Factura</th>
            <th>Cliente</th>
            <th>Ciudad</th>
            <th>NIT</th>
            <th>Total Factura</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of Facturas">
            <td>{{dataItem.Id}}</td>
            <td>{{dataItem.codigoFactura}}</td>
            <td>{{dataItem.cliente}}</td>
            <td>{{dataItem.ciudad}}</td>
            <td>{{dataItem.nit}}</td>
            <td>{{dataItem.totalFactura}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1" (click)="editarFactura(dataItem.Id)">Editar
                </button>
                <button type="button" class="btn btn-danger mr-1" (click)="eliminarFactura(dataItem.Id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>